body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.leaderboards {
    display: inline-flex;
    justify-content: center;
    gap: 128px;
}

.leaderboards .leaderboard {
    display: flexbox;
    flex-direction: column;
    background-color: #292929;
    padding: 24px;
    border-radius: 10px;
}

.leaderboards .leaderboard ul li {
    display: block;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 28px;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.vt323-regular {
	display: block;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 26px;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}